@font-face {
  font-family: Font;
  src: url("../fonts/font-Regular.otf") format("opentype");
}

:root {
  --primary: rgb(0, 173, 181);
  --secondary: rgb(238, 238, 238);
  --text: white;
  --red: #cc241d;
  --blue: #458588;
  --purple: #b16286;
  --bg: #282828;
  --background-lighter: rgb(57, 62, 70);
  --page-padding: 20%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  font-family: Font;
}

header {
  border-bottom: 0.1rem solid var(--text);
}

nav {
  text-align: right;
}

a {
  color: var(--blue);
  text-decoration: none;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.1rem solid var(--text);
  font-size: 1.2rem;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
}

.logo a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    margin: 0 0 0 0.6rem;
    display: inline;
  }
  nav a:last-of-type {
    margin: 0 0.6rem 0 0.6rem;
    display: inline;
  }
}

@media (min-width: 640px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  nav a:last-of-type {
    margin: 0 1.2rem 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}
